*{
    margin: 0;
    padding: 0;
}

#footer{
    width: 100%;
    position:fixed;
    bottom: 5%;
}

#footer > p{
    font-family: Verdana, sans-serif;
    text-align: center;
    letter-spacing: 0.1rem;
}