#field{
    display: flex;
    flex-wrap: nowrap;
    margin: 50px auto;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

#computer{
    width: 15%;
}
#area{
    height: 200px;
    background-color: aliceblue;
    width: 60%;
    border-radius: 10px;
}
#you{
    width: 15%;
}


#score{
    margin: 50px auto;
}

#score > p{
    text-align: center;
    font-size: 30px;
}
#buttons{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px;

}

#buttons img{
    width: 50px;
    height: 60px;
    cursor: pointer;
    transition: 0.5s;
}

#buttons img:hover{
    transform: scale(1.1);
}